@using GShopping.Web.Models.Enum
@model OrderViewModel

@{
    <script>
            function chageimage(id)
            {
                document.getElementById("image-" + id).setAttribute("src", "/images/no_image.jpg");
            };
            function hiddenItem(id)
            {
                document.getElementById("item-" + id).remove();
            };
    </script>

    string getIdImage(long id) => $"image-{id}";
    string getIdItem(long id) => $"item-{id}";
}

<form asp-action="OrderDelete">
    <input asp-for="CartHeader.Id" hidden />
    <input asp-for="CartHeader.Count" hidden />
    <input asp-for="CartHeader.CouponCode" hidden />
    <input asp-for="CartHeader.CVV" hidden />
    <input asp-for="CartHeader.CardNumber" hidden />
    <input asp-for="CartHeader.DiscountAmount" hidden />
    <input asp-for="CartHeader.ExpiryMothYear" hidden />
    <input asp-for="CartHeader.PurchaseAmount" hidden />
    <input asp-for="CartHeader.UserId" hidden />
    <input asp-for="CartHeader.DateTime" hidden />

    <br/>
    <div class="container border p-3">
        <h1 class="text-primary">Deletar Pedido</h1>
        
        <hr/>
        <div class="row">

             <div class="col-2">
                <label asp-for="CartHeader.DateTime" class="control-label pt-2" style="font-size:20px;">Emissão</label>
            </div>
            <div class="col-10 pb-3">
                <input value="@Model.CartHeader.DateFomart()" readonly class="form-control"/>
            </div>
            <div class="col-2">
                <label asp-for="CartHeader.FirstName" class="control-label pt-2" style="font-size:20px;">Nome</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="CartHeader.FirstName" class="form-control" readonly/>
            </div>
            <div class="col-2">
                <label asp-for="CartHeader.LastName" class="control-label pt-2" style="font-size:20px;">Sobrenome</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="CartHeader.LastName" class="form-control" readonly/>
            </div>
            <div class="col-2">
                <label asp-for="CartHeader.Phone" class="control-label pt-2" style="font-size:20px;">Telefone</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="CartHeader.Phone" class="form-control" rows="5" readonly/>
            </div>
            <div class="col-2">
                <label asp-for="CartHeader.Email" class="control-label pt-2" style="font-size:20px;">Email</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="CartHeader.Email" class="form-control" readonly/>
            </div>
            <div class="col-2">
                <label asp-for="CartHeader.Status" class="control-label pt-2" style="font-size:20px;">Status</label>
            </div>
            <div class="col-10 pb-3">
                <select class="form-select" asp-for="@Model.CartHeader.Status" asp-items="Html.GetEnumSelectList<StatusPedido>()" readonly></select>
                @*<input asp-for="CartHeader.Status" class="form-control" />
                <span asp-validation-for="CartHeader.Status" class="text-danger"></span>*@
            </div>

            <div class="col-12 pb-3">
                <div class="card mt-4">
                    <div class="card-body">
                        <div class="d-none d-lg-block">
                            <div class="row text-primary">
                                <div class="col-3">
                                    Imagem
                                </div>
                                <div class="col-3">
                                    Nome
                                </div>
                                <div class="col-3">
                                    Preço
                                </div>
                                <div class="col-3">
                                    Quantidade
                                </div>
                            </div>
                        </div>

                        <hr/>

                        @if(@Model.CartDetails != null){

                            @for (int i = 0; i < Model.CartDetails.Count(); i++)
                            {
                                @if(!@Model.CartDetails[i].Deleted){

                                    <input asp-for="@Model.CartDetails[i].Id" hidden />
                                    <input asp-for="@Model.CartDetails[i].CartHeaderId" hidden />
                                    <input asp-for="@Model.CartDetails[i].Deleted" hidden />
                                    <input asp-for="@Model.CartDetails[i].ProductId" hidden />
                                    <input asp-for="@Model.CartDetails[i].Product.Id" hidden />
                                    <input asp-for="@Model.CartDetails[i].Product.Name" hidden />
                                    <input asp-for="@Model.CartDetails[i].Product.Price" hidden />
                                    <input asp-for="@Model.CartDetails[i].Product.Description" hidden />
                                    <input asp-for="@Model.CartDetails[i].Product.CategoryName" hidden />
                                    <input asp-for="@Model.CartDetails[i].Product.ImageUrl" hidden />

                                     <div id="@getIdItem(@Model.CartDetails[i].Product.Id)">
                                        <div class="row h-100">
                                            <div class="col-3">
                                                <img id="@getIdImage(@Model.CartDetails[i].Product.Id)" src="@Model.CartDetails[i].Product.ImageUrl" style="border-radius: 35px;" onerror="chageimage(@Model.CartDetails[i].Product.Id)" width="60px" class="rounded"/>
                                            </div>
                                            <div class="col-3">
                                                <span style="font-size:20px;">@Model.CartDetails[i].Product.Name - @Model.CartDetails[i].Deleted</span>
                                            </div>
                                            <div class="col-3">
                                                <span style="font-size:17px;">@string.Format("{0:c}", @Model.CartDetails[i].Product.Price)</span>
                                            </div>
                                            <div class="col-3">
                                                <input type="number" asp-for="@Model.CartDetails[i].Count" class="form-control" readonly/>
                                            </div>
                                        </div>
                                        <hr/>
                                    </div>

                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-right pr-4 text-danger">
                Valor da compra: @string.Format("{0:c}", Model.CartHeader.PurchaseAmount)<br/>
                </div>
            </div>

            <hr/>

            <div class="col-6">
                <a asp-action="OrderIndex" class="btn-primary btn form-control ">Voltar para Lista</a>
            </div>

            <div class="col-6">
                <input type="submit" value="Deletar" class="btn btn-danger form-control" />
            </div>
        </div>
    </div>
</form>
